gtags.files
GPATH
GRTAGS
GTAGS
/.netrwhist
/plugged/
/pckr/
/pack/pckr
/coc/
/vim-plugins.tar.gz
/unused/
/lazy-lock.json
# lazy.nvim 的安装路径 NOTE: 这里忽略的话, 会影响 lua lsp 的搜索路径
/lazy/
conn-manager.json
*.bak
